recursive-include pymt_soilgrids/data *
include LICENSE
include requirements.txt
include *.rst
include *.txt
include Makefile
include babel.toml
recursive-include pymt_soilgrids *.pyx
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-exclude meta *
recursive-exclude recipe *
recursive-exclude pymt_soilgrids *.cpp
recursive-exclude pymt_soilgrids *.c
